.navbar {
  border-bottom: 2px solid #e6e6e6;
}

.btn {
  margin: 0px 15px 0px 4px;
}

.navbar-logo {
  height:26px; 
  width:25px;
}

.navbar-brand{
  padding:10px;
  position: inline;
}

#nav-logo{
  width:30px;
  height:30px;
  margin: 0px 5px 0px 0px;
}

#user-icon{
  width:w0px;
  height:20px;
  padding-right:3px;
}


#brand-text{
  text-decoration: none;
  color:black;
  padding: 5px 0px 0px 6px;
  text-align: center;
  font-weight: 600;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#create-btn{
  /* text-align:right !important;
  float: right !important; */
  margin-left: 115%;
}

.arrow{
  height:26px; 
  width:25px;
  float: right;
}

#list-item{
  list-style-type: none;
  /* border: 1px solid  #e6e6e6; */
  margin:0px !important;
}

hr {
  border: 1px solid #e6e6e6;
}

#text-box{
  resize:none;
}
