.navbar-logo {
  height:26px; 
  width:25px;
}

.navbar-brand{
  padding:10px;
}

#brand-text{
  text-decoration: none;
  color:black;
  padding: 5px 0px 0px 6px;
  text-align: center;
  font-weight: 600;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  background: #f3f3f3;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: black;
  background-color: #cccccc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

#create-btn{
  /* text-align:right !important;
  float: right !important; */
  margin-left: 115%;
}

.arrow{
  height:26px; 
  width:25px;
  float: right;
}
